@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600;700&family=Inter:wght@400;500&family=Montserrat:wght@700;800&family=Roboto:wght@400;500&display=swap');
@import "tailwindcss";


@theme {

  --color-accent-primary: #E85D22;
  --color-bg-dark: #141518;
  --color-surface-mid: #2A2D34;
  --color-bg-light: #F8F9FA;
  --color-text-main: #1E2024;
  --color-text-inverse: #FFFFFF;

  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Inter', sans-serif;

}

html {
  background-color: var(--color-bg-dark);
  color: var(--color-text-main);
}